.product-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-images-container {
    display: flex;
    flex-direction: row;
}

.small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.small-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.small-image:hover {
    opacity: 1;
}

.small-image.active {
    border: 2px solid #4CAF50; /* Highlight the active image */
}

.large-image-container {
    position: relative;
}

.large-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.arrow {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.arrow.left {
    left: -30px;
}

.arrow.right {
    right: -30px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Right side product info styling */
.product-info {
    flex: 1;
    padding: 20px;
    max-width: 350px;
}

.product-name {
    font-size: 24px;
    margin-bottom: 20px;
}

.size-selection,
.color-selection,
.price {
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
    margin-bottom: 8px;
}

.size-buttons,
.color-buttons {
    display: flex;
    gap: 10px;
}

.size-btn,
.color-btn {
    width: 40px;  /* Make the buttons square */
    height: 40px; /* Ensure the height is the same as the width */
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.size-btn:hover,
.color-btn:hover {
    background-color: #f0f0f0;
}

.size-btn.active,
.color-btn.active {
    background-color: #4CAF50;
    color: #fff;
}

/* Specific color styles */
.color-btn.white {
    background-color: white;
    border: 1px solid #ccc;
}

.color-btn.black {
    background-color: black;
    border: 1px solid #ccc;
    color: white;
}

.color-btn.green {
    background-color: green;
    border: 1px solid #ccc;
    color: white;
}

.price-value {
    font-size: 20px;
    font-weight: bold;
}

.add-to-cart-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

.find-text {
    text-align: center;
    font-size: 14px;
    color: #777;
    cursor: pointer;
}
