.pdp {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pdp-left {
  width: 15%; /* Adjust the width of the left side */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdp-right {
  width: 100%; /* Adjust the width of the right side */
  padding: 20px;
  border-left: 2px solid #ddd;
  max-width: 730px;
}

.image-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto; /* Allow vertical scrolling if there are more images */
}

.thumbnail {
  width: 110px;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.thumbnail.active {
  border: 2px solid #000; /* Highlight the active thumbnail */
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 720px;
}

.large-image {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.size-selection, .color-selection, .price, .product-description {
  margin-bottom: 20px;
}

.size-buttons button, .color-buttons button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.size-buttons button:hover, .color-buttons button:hover {
  background-color: #f0f0f0;
}

.add-to-cart-btn {
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-btn:hover {
  background-color: #444;
}

.product-description p {
  font-size: 14px;
  color: #555;
}

h2{
    max-width: 600px;
}

.size button{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    border-radius: none;
    cursor: pointer;
    margin: 4px;
}

.size button.selected{
    background-color: #000;
    color: #fff;
}
h4{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

.size{
  
    margin: 20px 0;
}
.color{
    margin: 20px 0;
}
.color button{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    width: 60px;
    height: 60px;
    
    cursor: pointer;
    margin: 4px;
}
.price{
    margin: 20px 0;
    font-weight: 900;
    font-size: 25px;
}

.product-description{
    font-size: 10px;
    font-weight: lighter;
}           